<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>learnAt 我的</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/addquestion.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="bar" style="width: 20%;" id="icon"><button class="button" type="button" id="navbtn" ><img src="./imgs/icon.png" style="width: auto;height: 6vmin;"></button></div>
            <div class="bar" style="width: 2%;"></div>
            <div class="bar" style="width: 6%;" id="home"><button class="button" type="button" id="navbtn" onclick="location.href='/'"><b id="homeword">首頁</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="chat"><button class="button" type="button" id="navbtn" onclick="location.href='/chat'"><b>讀趴</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="question"><button class="button" type="button" id="navbtn" onclick="location.href='./question'"><b>提問</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="tutor"><button class="button" type="button" id="navbtn" onclick="location.href='./tutor'"><b>家教</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="mine"><button class="button" type="button" id="navbtn" onclick="location.href='./mine'"><b>我的</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 26%;" id="setting"><button class="button" type="button" id="navbtn" onclick="location.href='./setting'"><img id="graysetting" src="./imgs/setting.png" style="width: auto;height: 6vmin;"><img id="bluesetting" src="./imgs/bluesetting.png" style="width: 6vmin;height: auto;"></button></div>
        </div>
    </div>
    <div class="container">
            喔喔!沒有新增到喔
   
    </div>
</body>
</html>