<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>learnAt</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/answer(asker).css">
</head>
<body>
    <div class="diming-container" id="diming-container">
        <div class="reportbox" id="reportbox" style="display: none;">
            <form>
                <img id="close" src="./imgs/blackclose.png" width="5%" onclick="closeClick()">
                <label id ="reasontopic">檢舉原因<br>
                <input id ="reasonbtn" type="radio"  name="location" value="Taipei"> <label id="reasonitem">以言語或實際攻擊他人</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">色情暴力及性騷擾</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">垃圾訊息</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">散播假消息及不實內容</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">仇恨及恐怖主義</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">內容令人噁心</label><br>
                <input id ="reasonbtn" type="radio" name="location" value="Taoyuan"> <label id="reasonitem">其他</label><br>
                <button id="send" >送出</button>
            </form>
        </div>
    </div>
    <div class="header">
        <div class="navbar">
            <div class="bar" style="width: 20%;" id="icon"><button class="button" type="button" id="navbtn" ><img src="/imgs/icon.png" style="width: auto;height: 6vmin;"></button></div>
            <div class="bar" style="width: 2%;"></div>
            <div class="bar" style="width: 6%;" id="home"><button class="button" type="button" id="navbtn" onclick="location.href='/homepage'"><b>首頁</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="chat"><button class="button" type="button" id="navbtn" onclick="location.href='/chat'"><b>讀趴</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="question"><button class="button" type="button" id="navbtn" onclick="location.href='/question'"><b>提問</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="tutor"><button class="button" type="button" id="navbtn" onclick="location.href='/tutor.html'"><b>家教</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 6%;" id="mine"><button class="button" type="button" id="navbtn" onclick="location.href='/mine'"><b>我的</b></button></div>
            <div class="bar" style="width: 4%;"></div>
            <div class="bar" style="width: 26%;" id="setting"><button class="button" type="button" id="navbtn" onclick="location.href='/setting'"><img id="graysetting" src="/imgs/setting.png" style="width: auto;height: 6vmin;"><img id="bluesetting" src="./imgs/bluesetting.png" style="width: 6vmin;height: auto;"></button></div>
        </div>
    </div>
    <div class="container">
       
        <div class="questionItems" >
            <% for(var i=0; i<1; i++) {%>
            <img id="dot1" class="dot" src="/imgs/dot.png" width="0.6%"  onclick="dotclick1()">
            <div class="topiccontain">
            <img id="askericon" >
            <label class="askername" id="askername">李三</label ><br>
            <label class="questiontopic" id="questiontopic">微積分問題</label><br>
            </div>
            <div class="questall">
                <div class="questioncontain">
                </div>

                <div class="line" id="line" ></div>
                
                </div>
                    
            <div class="dotcontain" id = "dotcontain1" style="display: none;" >
                <label id="edit" onclick="location.href='./addquestion.html'">編輯<br></label>
                <div class="boxline" id="boxline" ></div>
                <label id="delete" onclick="location.href='./question.html'">刪除</label>
            </div>
            <% } %> 
        </div>
<!-- 
        <div class="best" id="best" style="display: none;">
            <div class="questionItems" >
                <img id="star" class="star" src="./imgs/star.png" width="3.5%" height="15.5%" onclick="dotclick1()">
                <label id="bestans">最佳解答</label>
                
                <div class="topiccontain">
                <img id="askericon" >
                <label class="askername" id="askername">林依依</label><br>
                </div>
                <div class="anscontain">
                    第一題要怎麼算<br>
                    第一題要怎麼算第csccs一題要怎麼算第一題要怎麼算<br>
                <div class="line" id="line" ></div>
                </div> 
               
            </div>
        </div> -->
        <% for(var i=0; i<items.length; i++) {%>
        <div class="questionItems" id="an1">
            <img id="dot2" class="dot" src="/imgs/dot.png" width="0.6%" onclick="andotclick1()">
            <div class="topiccontain">
            <img id="askericon" >
            <label class="askername" id="askername"><%= items[i].ID %></label><br>
            </div>
            <div class="anscontain">
                <%= items[i].answer %>
                
            <div class="line" id="line" ></div>
            </div> 
            <div class="dotcontain" id = "an-dotcontain1" style="display: none;">
                <label id="bestq" onclick="bestclick1()">最佳解答<br></label>
                <div class="boxline" id="boxline" ></div>
                <label id="report" onclick="reportclick()">檢舉</label>
            </div>
        </div>
        <% } %> 
        
        <div class="questionItems" >
            
          
        </div>
        <form action = "/addanswer/result" method = "post">
        <div class="form">
        <div class="textbar" >
            
            <img id="askericon" >
            <div class="line" id="line" ></div>
            <label class="askername" id="askername">李三</label>
            <textarea id="msgtext" name="answer" rows="3";> </textarea>
            <button><img id="responsepic"   width="3.5%" height="45%" src="/imgs/response.png" ></button>
        </div>
        </div>
        </form>
        
     
            
           
</body>
<script src="javascript/answer(asker).js"></script>
</html>